---
---

@import "{{ site.theme }}";
* {box-sizing: border-box;}
.col {
  float: left;
  width: 20%;
  text-align: center;
}
.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
