---
---

@import "{{ site.theme }}";
* {box-sizing: border-box;}
.col {
  float: left;
  width: 20%;
  text-align: center;
}
.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.wrapper {
  max-width:1000px;
  padding:0 0;
}
section {
 max-width:1000px;
}

//
// <details> tag
//
$grey-color:         #757575;
$grey-color-darkish: darken($grey-color, 15%);
$brand-color:        #dbdbdb;
$details-background-color: #6c6c6c;

details {
    border-radius: 10px;
    padding: 0px 8px;
    margin-bottom: 15px;
}
details[open] {
    background: $details-background-color;
    padding: 0px 8px 8px 8px;
}
summary {
    margin: 0px 0px 8px 0px;
    outline:none;
}
details summary {
    color: $brand-color;
}

